.example-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

mat-form-field {
  margin-left: 1%;
}
  
.mat-column-image img {
  width: 55px;
  height: 55px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  width: 250px;
  color:cyan;
}

.example-section {
  padding: 5px;
}

.sidenav {
  margin-top: 80px;
}