.product_count {
  padding: 10px;
}

mat-form-field {
  margin-left: 85%;
}

.mat-cell {
  padding-right: 10px;
}

.mat-header-cell {
  width: 150px;
}

.mat-column-image img {
  width: 55px;
  height: 55px;
}

.remove_selection {
  margin: 2px;
  border-width: 1pt;
  border-radius: 3px;
}

.remove_selection:hover {
  border-color: red;
  border-radius: 3px;
}

.remove_selection:hover .mat-icon {
  color:red;
}

.mat-icon {
  justify-content: center;
  align-items: center;
  transform: translateY(10%);
  -ms-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -o-transform: translateY(10%);
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15); 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  width: 200px;
}

.example-section {
  padding: 5px;
}

.sidenav {
  margin-top: 80px;
}

.numeric-filter {
  width: 100%;
  height:100%;
}

.minmax-range {
  margin-left: 0px;
  width: 150px;
}

.dollar-sign-span, .max-input {
  display: inline-block;
}
