<router-outlet></router-outlet>

<title>BikePartPicker</title>
<h1>BikePartPicker</h1>

<div class="partlist">
  <table class="xs-col-12">
      <thead>
          <tr>
              <th class="th__component">Component</th>
              <th></th>
              <th class="th__selection" colspan="2">Selection</th>
              <th class="th__price">Price</th>
              <th class="th__weight">Weight</th>
              <th class="th__price-weight">Price/Weight</th>
              <th class="th__where">Where</th>
              <th class="th__remove"></th>
          </tr>
      </thead>
      <tbody>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/cpu/">
                  Frame
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/cpu/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Frame
                  </a>
              </td>
              <button class="button__removeSelection">X</button>
          </tr>
          <tr class="tr__product">
            <td class="td__component">
                <a href="/components/cpu-cooler/">
                Rear Shock
                </a>
            </td>
            <td class="td__placement--empty"></td>
            <td class="td__addComponent" colspan="11">
                <a href="/components/cpu-cooler/" class="button  button--icon button--small">
                    <svg class="icon shape-add">
                        <use xlink:href="#shape-add"/>
                    </svg>

                    Choose A Rear Shock
                </a>
            </td>
            <button class="button__removeSelection">X</button>
        </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/cpu-cooler/">
                  Fork
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/cpu-cooler/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Fork
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/motherboard/">
                  Rear Derailleur
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/motherboard/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Rear Derailleur
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/memory/">
                  Memory
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/memory/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose Memory
                  </a>

              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/internal-hard-drive/">
                  Storage
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/internal-hard-drive/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose Storage
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/video-card/">
                  Video Card
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/video-card/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Video Card
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/case/">
                  Case
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/case/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Case
                  </a>
              </td>
          </tr>

          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/power-supply/">
                  Power Supply
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/power-supply/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Power Supply
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/os/">
                  Operating System
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/os/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose An Operating System
                  </a>
              </td>
          </tr>
          <tr class="tr__product">
              <td class="td__component">
                  <a href="/components/monitor/">
                  Monitor
                  </a>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/monitor/" class="button  button--icon button--small">
                      <svg class="icon shape-add">
                          <use xlink:href="#shape-add"/>
                      </svg>

                      Choose A Monitor
                  </a>
              </td>
          </tr>
          <tr class="">
              <td class="td__component">
                  <p>Expansion Cards / Networking</p>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/sound-card/">Sound Cards</a>
                  ,
                  <a href="/components/wired-network-card/">Wired Network Adapters</a>
                  ,
                  <a href="/components/wireless-network-card/">Wireless Network Adapters</a>
              </td>
          </tr>
          <tr class="">
              <td class="td__component">
                  <p>Peripherals</p>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/headphones/">Headphones</a>
                  ,
                  <a href="/components/keyboard/">Keyboards</a>
                  ,
                  <a href="/components/mouse/">Mice</a>
                  ,
                  <a href="/components/speakers/">Speakers</a>
                  ,
                  <a href="/components/webcam/">Webcams</a>
              </td>
          </tr>
          <tr class="tr__product--last">
              <td class="td__component">
                  <p>Accessories / Other</p>
              </td>
              <td class="td__placement--empty"></td>
              <td class="td__addComponent" colspan="11">
                  <a href="/components/case-accessory/">Case Accessories</a>
                  ,
                  <a href="/components/case-fan/">Case Fans</a>
                  ,
                  <a href="/components/fan-controller/">Fan Controllers</a>
                  ,
                  <a href="/components/thermal-paste/">Thermal Compound</a>
                  ,
                  <a href="/components/external-hard-drive/">External Storage</a>
                  ,
                  <a href="/components/optical-drive/">Optical Drives</a>
                  ,
                  <a href="/components/ups/">UPS Systems</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>