.button_removeSelection {
    border: none;
    border-radius: 5px;
    color: grey;
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.partlist {
    font-family: Helvetica;
}

.th__component {
    text-align: left;
    background-color: #409cff;

}
.th__selection {
    text-align: left;
    background-color: #409cff;
    border-color: #9ABAD9;
}

.th__price {
    text-align: right;
    background-color: #409cff;
}

.th__weight {
    text-align: right;
    background-color: #409cff;
}

.th__price-weight {
    text-align: right;
    background-color: #409cff;
}

.th__where {
    text-align: right;
    background-color: #409cff;
}

.th__remove {
    text-align: right;
    background-color: #409cff;
}

