<router-outlet></router-outlet>

<title>BikePartPicker</title>
<h1>BikePartPicker</h1>

<div class="partlist">
  
  <table class="partlist-table">
    <thead>
      <tr>
        <th class="th__component">Component</th>
        <th></th>
        <th class="th__selection" colspan="2">Selection</th>
        <th class="th__price">Price</th>
        <th class="th__weight">Weight</th>
        <th class="th__price-weight">Price/Weight</th>
        <th class="th__where">Where</th>
        <th class="th__remove"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frame/">
            Frame
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frame/" class="button  button--icon button--small">

            Choose A Frame
          </a>
        </td>
        <button class="button__removeSelection">X</button>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearshock/">
            Rear Shock
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearshock/" class="button  button--icon button--small">

            Choose A Rear Shock
          </a>
        </td>
        <button class="button__removeSelection">X</button>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/fork/">
            Fork
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/fork/" class="button  button--icon button--small">
            Choose A Fork
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearderailleur/">
            Rear Derailleur
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearderailleur/" class="button  button--icon button--small">
            Choose A Rear Derailleur
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frontshifter/">
            Front Shifter
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frontshifter/" class="button  button--icon button--small">
            Choose A Front Shifter
          </a>

        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearshifter/">
            Rear Shifter
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearshifter/" class="button  button--icon button--small">

            Choose Rear Shifter
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/crankset/">
            Crankset
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/crankset/" class="button  button--icon button--small">


            Choose A Crankset
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/cassette/">
            Cassette
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/cassette/" class="button  button--icon button--small">

            Choose A Cassette
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frontderailleur/">
            Front Derailleur
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frontderailleur/" class="button  button--icon button--small">


            Choose A Front Derailleur
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/chain/">
            Chain
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/chain/" class="button  button--icon button--small">

            Choose A Chain
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/bottombracket/">
            Bottom Bracket
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/bottombracket/" class="button  button--icon button--small">
            Choose A Bottom Bracket
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearbrake/">
            Rear Brake
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearbrake/" class="button  button--icon button--small">

            Choose A Rear Brake
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frontbrake/">
            Front Brake
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frontbrake/" class="button  button--icon button--small">

            Choose A Front Brake
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rotors/">
            Brake Rotors
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rotors/" class="button  button--icon button--small">

            Choose Brake Rotors
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/headset/">
            Headset
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/headset/" class="button  button--icon button--small">

            Choose A Headset
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/bars/">
            Bars
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/bars/" class="button  button--icon button--small">

            Choose Bars
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/stem/">
            Stem
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/stem/" class="button  button--icon button--small">

            Choose A Stem
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/grips/">
            Grips
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/grips/" class="button  button--icon button--small">

            Choose Grips
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/fronthub/">
            Front Hub
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/fronthub/" class="button  button--icon button--small">

            Choose A Front Hub
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearhub/">
            Rear Hub
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearhub/" class="button  button--icon button--small">

            Choose A Rear Hub
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearrim/">
            Rear Rim
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearrim/" class="button  button--icon button--small">

            Choose Rear Rim
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frontrim/">
            Front Rim
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frontrim/" class="button  button--icon button--small">

            Choose A Front Rim
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/rearspokes/">
            Rear Wheel Spokes
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/rearspokes/" class="button  button--icon button--small">

            Choose Rear Wheel Spokes
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/frontspokes/">
            Front Wheel Spokes
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/frontspokes/" class="button  button--icon button--small">

            Choose Front Wheel Spokes
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/reartire/">
            Rear Tire
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/reartire/" class="button  button--icon button--small">

            Choose A Rear Tire
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/components/fronttire/">
            Front Tire
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/components/fronttire/" class="button  button--icon button--small">

            Choose A Front Tire
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 class="h3__potentialIssues">Potential Issues/Incompatibilities</h3>
</div>