.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: ;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    margin: auto;
  }

.site-name {
    font-family: helvetica;
    color: white;
    margin-right: auto;
    padding-left: 10px;
}

.login {
    font-family: helvetica;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
}

.register {
    font-family: helvetica;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
}
