<mat-accordion displayMode="flat" multi>
    <mat-expansion-panel [expanded]="true" *ngFor="let section of categories | keyvalue : compareFn">
        <mat-expansion-panel-header>
            <mat-panel-title> {{ section.value.label }} </mat-panel-title>
        </mat-expansion-panel-header>
                <p>
                    <mat-checkbox
                    [checked]="allChecked(section.key)"
                    [indeterminate]="someChecked(section.key)"
                    (change)="setAll(section.key)"
                    color="primary">
                        All
                    </mat-checkbox>
                </p>
                <p *ngFor="let checkbox of section.value.filters">
                    <mat-checkbox 
                    value="checkbox" 
                    (change)="addCheckboxNameToFormControl(section.key, checkbox)"
                    [checked]="checkIfSectionContainsCheckbox(section.key, checkbox)" 
                    color="primary">
                        {{checkbox}}
                    </mat-checkbox>
                </p>
        </mat-expansion-panel>
</mat-accordion>