<table class="partlist-table">
    <thead>
        <tr>
            <th class="th__component">Name</th>
            <th></th>
            <th class="th__selection" colspan="2">Brand</th>
            <th class="th__price">Model</th>
            <th class="th__color">Color</th>
            <th class="th__width">Width (mm)</th>
            <th class="th__diameter">Bar Clamp Diameter (mm)</th>
            <th class="th__material">Material</th>
            <th class="th__rise">Rise</th>
            <th class="th__price-weight">Price/Weight</th>
            <th class="th__where">Where</th>
            <th class="th__remove"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tr__product">
            <td class="td__checkbox"> <input type="checkbox" class="checkbox px px1" id="px_329297" autocomplete="off">
                <label for="px_329297"></label> </td>
    
            <td class="td__component">
                <a routerLink="/parts/frame/">
                    ATMOS CARBON FLAT BAR
                </a>
            </td>
            <td class="td__brand">Truvativ</td>
            <td class="td__model">Atmos</td>
            <td class="td__color">Natural Carbon</td>
            <td class="td__width">760</td>
            <td class="td__diameter">31.8</td>
            <td class="td__material">Carbon</td>
            <td class="td__rise">9°</td>
        </tr>
        <tr class="tr__product">
            <td class="td__component">
                <a routerLink="/parts/frame/">
                    Frame
                </a>
            </td>
            <td class="td__placement--empty"></td>
            <td class="td__addComponent" colspan="6">
                <a href="/parts/frame/" class="button  button--icon button--small">

                    Choose A Frame
                </a>
            </td>
        </tr>



        