<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Stems">

<table class="partlist-table">
    <thead>
        <tr>
            <th class="td__checkbox"></th>
            <th class="th__name">Name</th>
            <th></th>
            <th class="th__brand">Brand</th>
            <th class="th__model">Model</th>
            <th class="th__color">Color</th>
            <th class="th__length">Length (mm)</th>
            <th class="th__diameter">Bar Clamp Diameter (mm)</th>
            <th class="th__material">Material</th>
            <th class="th__rise">Rise</th>
            <th class="th__price">Price</th>
            <th class="th__weight">Weight</th>
            <th class="th__where">Where</th>
            <th class="th__add"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tr__product">
            <td class="td__checkbox"><input type="checkbox"></td>
            <td class="td__image">
                <img
                    src="https://www.sram.com/globalassets/image-hierarchy/sram-product-root-images/stems/stems/st-atms-6k-318-a1/productassets_st-atms-6k1-a1_fg/amstatm6k318660118c3qs.png?w=800&quality=80&format=jpg"
                    alt="Atmos 6K Stem">
            </td>
            <td class="td__name">Atmos 6K Stem </td>
            <td></td>
            <td class="td__brand"> TRUVATIV</td>
            <td class="td__model"> ST-ATMS-6K1-A1 </td>
            <td class="td__diameter">31.8mm</td>
            <td class="td__length">1-1/8 in</td>
            <td class="td__rise">Bead Blast Black with Slate Logos</td>
            <td class="td__color">Al-6061</td>
            <td class="td__material">Steel</td>
            <td class="td__price">ST-ATMS-6K1-A1</td>
            <td class="td__weight">--</td>
            <td class="td__where"><a href="https://www.sram.com/en/truvativ/models/st-atms-6k1-a1"
                    target="_blank">SRAM</a></td>
            <td><button class="item__add">Add</button></td>
        </tr>
    </tbody>
</table>