<div class="partlist">

  <table class="partlist-table">
    <thead>
      <tr>
        <th class="th__component">Component</th>
        <th></th>
        <th class="th__selection" colspan="2">Selection</th>
        <th class="th__price">Price</th>
        <th class="th__weight">Weight</th>
        <th class="th__price-weight">Price/Weight</th>
        <th class="th__where">Where</th>
        <th class="th__remove"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr__product">
        <td class="td__component">
          <a routerLink="/parts/frame/">
            Frame
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frame/" class="button  button--icon button--small">

            Choose A Frame
          </a>
        </td>
        <button class="button__removeSelection">X</button>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearshock/">
            Rear Shock
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearshock/" class="button  button--icon button--small">

            Choose A Rear Shock
          </a>
        </td>
        <button class="button__removeSelection">X</button>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/fork/">
            Fork
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/fork/" class="button  button--icon button--small">
            Choose A Fork
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearderailleur/">
            Rear Derailleur
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearderailleur/" class="button  button--icon button--small">
            Choose A Rear Derailleur
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontshifter/">
            Front Shifter
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontshifter/" class="button  button--icon button--small">
            Choose A Front Shifter
          </a>

        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearshifter/">
            Rear Shifter
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearshifter/" class="button  button--icon button--small">

            Choose Rear Shifter
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/crankset/">
            Crankset
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/crankset/" class="button  button--icon button--small">


            Choose A Crankset
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/cassette/">
            Cassette
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/cassette/" class="button  button--icon button--small">

            Choose A Cassette
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontderailleur/">
            Front Derailleur
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontderailleur/" class="button  button--icon button--small">


            Choose A Front Derailleur
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/chain/">
            Chain
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/chain/" class="button  button--icon button--small">

            Choose A Chain
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/bottombracket/">
            Bottom Bracket
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/bottombracket/" class="button  button--icon button--small">
            Choose A Bottom Bracket
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearbrake/">
            Rear Brake
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearbrake/" class="button  button--icon button--small">

            Choose A Rear Brake
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontbrake/">
            Front Brake
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontbrake/" class="button  button--icon button--small">

            Choose A Front Brake
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearrotor/">
            Rear Brake Rotor
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearrotors/" class="button  button--icon button--small">

            Choose Rear Brake Rotor
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontrotor/">
            Front Brake Rotor
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontrotor/" class="button  button--icon button--small">

            Choose Front Brake Rotor
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/headset/">
            Headset
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/headset/" class="button  button--icon button--small">

            Choose A Headset
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/bars/">
            Bars
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/bars/" class="button  button--icon button--small">

            Choose Bars
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/stem/">
            Stem
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/stem/" class="button  button--icon button--small">

            Choose A Stem
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/grips/">
            Grips
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/grips/" class="button  button--icon button--small">

            Choose Grips
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/fronthub/">
            Front Hub
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/fronthub/" class="button  button--icon button--small">

            Choose A Front Hub
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearhub/">
            Rear Hub
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearhub/" class="button  button--icon button--small">

            Choose A Rear Hub
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearrim/">
            Rear Rim
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearrim/" class="button  button--icon button--small">

            Choose Rear Rim
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontrim/">
            Front Rim
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontrim/" class="button  button--icon button--small">

            Choose A Front Rim
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/rearspokes/">
            Rear Wheel Spokes
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/rearspokes/" class="button  button--icon button--small">

            Choose Rear Wheel Spokes
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/frontspokes/">
            Front Wheel Spokes
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/frontspokes/" class="button  button--icon button--small">

            Choose Front Wheel Spokes
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/reartire/">
            Rear Tire
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/reartire/" class="button  button--icon button--small">

            Choose A Rear Tire
          </a>
        </td>
      </tr>
      <tr class="tr__product">
        <td class="td__component">
          <a href="/parts/fronttire/">
            Front Tire
          </a>
        </td>
        <td class="td__placement--empty"></td>
        <td class="td__addComponent" colspan="11">
          <a href="/parts/fronttire/" class="button  button--icon button--small">

            Choose A Front Tire
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 class="h3__potentialIssues">Potential Issues/Incompatibilities</h3>
</div>